.Toolbar{
    background-color: rgb(182, 138, 171);
}


.tabs{
     margin-left: auto;
 }

 .bg {
     margin: 100px;
     color: rgb(70, 70, 70);
    text-shadow: 3px 2px 2px #5f6969
        
 }s
        
.contained{
    background-color: blueviolet;
}